<div class="container">
    <!-- Content here -->
   
  
  
  <div class="row">
    
    <app-json-converter-header></app-json-converter-header>
  
  <div class="col-sm-2">
      <app-json-converter-sidebar ></app-json-converter-sidebar>
      </div>
      <div class="col-sm-5">
      <app-json-converter-input (submitEvent)="SubmitButton($event)"></app-json-converter-input>
    </div>
    <div class="col-sm-5">
    <app-json-converter-output [result]="test" [temp]="temp"></app-json-converter-output>
  </div>
  </div>
  
  
  </div>